.common{
  .common__header{
    min-height: 128px;
    text-align: center;
    .common-image{
      display: inline-block;
      margin: 40px 0 0;
    }
    .progress-bar{
      display: inline-block;
      padding: 40px 0 0 65px;
      vertical-align: top;
      font-size: 0;
      .clearfix{
        li{
          position: relative;
          z-index: 1;
          display: inline-block;
          margin: 0 40px 0 0;
          font-size: 12px;
          color: $dark;
          .progress-status{
            width: 12px;
            height: 12px;
            margin: 8px auto 0;
            background: $darkgray;
            border-radius: 50%;
          }
          .progress-status::before{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: $darkgray;
            right: 50%;
          }
          .progress-status::after{
            position: absolute;
            bottom: 5px;
            z-index: -1;
            display: block;
            content: '';
            width: 100%;
            height: 2px;
            background: $darkgray;
            left: 50%;
          }
        }
        li.through{
          .progress-status{
            background: $red;
          }
          .progress-status::before{
            background: $red;
          }
          .progress-status::after{
            background: $red;
          }
        }
        li.active_red{
          font-weight: 600;
          color: $red;
          .progress-status{
            background: $red;
          }
          .progress-status{
            background: $red;
          }
          .progress-status::before{
            background: $red;
          }
          .progress-status::after{
            background: $darkgray;
          }
        }
        li:first-child{
          .progress-status::before{
            background: none;
          }
        }
        li:last-child{
          .progress-status::after{
            background: none;
          }
        }
      }
    }
  }
}