//新規登録画面や出品画面のフッター共通部分
.shared-footer{
  width: 456px;
  margin: 0 auto;
  padding: 40px 0;
  text-align: center;
  .clearfix{
    display: flex;
    font-size: 12px;
    li{
      margin: 0 0 0 16px;
      white-space: nowrap;
    }
  }
  img{
    display: block;
    margin: 40px auto 0;
  }
  p{
    margin: 8px 0 0;
    font-size: 13px;
    text-align: center;
  }
}