//左のマイページのリスト部分

.mypage-nav {
  float: left;
}


.mypage-list {
  width: 280px;
  margin: 0 40px 0 0;
  h4 {
    margin-top: 30px;
    font-size: 16px;
  }
  li {
    border-top: 1px solid #eee;
    a {
      position: relative;
      display: block;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      &:hover {
        background: #eee;
      }
      i {
        position: absolute;
        top: 40%;
        right: 16px;
        color: #ccc;
      }
    }
  }
}
