
.mypage-content {
  box-sizing: border-box;
  @include content();
    h2 {
      @include font-title();
    }
    &__form {
      padding: 64px;
      p {
        margin: 8px 0 0;
        line-height: 1.5;
      }
    &--show {
      margin: 8px 0 0;
      @include show ();
      @include text-hover();
    }
    &--personal {
      margin-top: 30px;
    }
  } 
}

.form-group {
  margin: 40px 0 0;
  @include input-form();
  @include select-form();
  select:focus {
    border: 1px solid $accent;
    outline: 0;
  }
  input:focus {
    border: 1px solid $accent;
    outline: 0;
  }
  label {
    font-weight: 600;
  }
  p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  &__note {
    @include form-note ();
    background: #ccc;
  }
  &__btn {
    margin-top: 40px;
    @include red-btn();
    @include btn-default();
  }
}
