//タグ部分

.items-tag {
  margin: 16px 0 0;
  @include clearfix();
  &__left {
    float: left;
    &--good {
      border: 1px solid #f5f5f5;
      background: #f5f5f5;
      padding: 5px 16px;
      border-radius: 40px;
      display: inline-block;
      margin-right: 16px;
      cursor: pointer;
      i {
        color: #ccc;
      }
      span {
        margin: 1px 0 0 8px;
        color: #333333;
      }
    }
    &--liked {
      @extend .items-tag__left--good;
      border: solid 1px $red;
      background-color: white;
      i {
        color: $red;
      }
      span {
        color: $red;
      }
    }
    &--report {
      @extend .items-tag__left--good;
    }
  }
  &__right {
    float: right;
    padding: 8px 16px;
    a {
      @include text-hover();
      color: $accent;
      i {
        padding-right: 5px;
      }
    }
  }
}