//商品画像部分

.items-image {
  position: relative;
  float: left;
  width: 300px;
  margin: 0 auto;
  background: #fafafa;
  font-size: 0;
  &__box {
    width: 300px;
    height: 375px;
    margin: auto;
    vertical-align: middle;
    object-fit: contain;
  }
  &__boxes {
    @include image-box();
    position: relative;
    width: 60px;
    height: 60px;
    display: inline-block;
    img {
      object-fit: contain;
      margin: auto;
    }
  }
}
