.wrapper
  = render partial: 'homes/header-login'
  .header-nav-bar
    %ul
      %li
      - breadcrumb :mypages
      = render "layouts/breadcrumbs"
  = render partial: 'mypages/mypage-body'
  = render partial: 'homes/footer'