.wrapper
  = render partial: 'homes/header-login'
  .header-nav-bar
    %ul
      %li
      - breadcrumb :mypages
      = breadcrumbs pretext: "", separator: " &rsaquo; "
  = render partial: 'mypages/mypage-body'
  = render partial: 'homes/footer'