.contents
  .contents-image
    %i.contents-image__left.fas.fa-chevron-left
    %i.contents-image__right.fas.fa-chevron-right
    .contents-image__title
      %h3 
        フリーマケット
        %br サイト
      %p
        フリーマケットサイトです
