.contents
  .contents-image
    %i.contents-image__left.fas.fa-chevron-left
    %i.contents-image__right.fas.fa-chevron-right
    .contents-image__title
      %h3 
        フリーマケット
        %br サイト
      %p
        フリーマケットサイトです
  .contents-category
    %h4
      人気のカテゴリー
    %ul.contents-category__box
      %li レディース
      %li メンズ
      %li 家電・スマホ・カメラ
      %li おもちゃ・ホビー・グッズ 