%header.header
  .header__bar
    .header__bar__upper
      %h1.header__bar__upper__left
        %a{href: "#"} mercari
      .header__bar__upper__right
        %form.search_container{:action => "/", :method => "post"}
          %input.search_container__text{:type => "text", :placeholder => "何かお探しですか？"}
            %i.fas.fa-search
    .header__bar__bottom
      %ul.header__bar__bottom__left
        %i.fas.fa-list-ul
        %a{href: "#"}カテゴリーから探す
        %i.fas.fa-tags
        %a{href:"#"}ブランドから探す
      .header__bar__bottom__right
        = link_to "新規会員登録", "#" , class: "btn btn-login"  
        = link_to "ログイン", "#", class: "btn btn-default"
.contents
  .contents-row
    %i.fas.fa-chevron-left
    %i.fas.fa-chevron-right
    .contents-image
      %h3.contents-image__title
        スマホで かんたん
        %br 
          フリマアプリ
    .contents-category
      %h4
        人気のカテゴリー
      %ul.contents-category__box
        %li レディース
        %li メンズ
        %li 家電・スマホ・カメラ
        %li おもちゃ・ホビー・グッズ 
