//人気カテゴリータグ

.contents-category {
  padding: (56px 0 30px);
  text-align: center; 
  background-color: white;
  h4 {
    font-size: 28px;
  }
  li {
    padding: (6px 16px);
    margin: (16px 10px);
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    background-color:$gray;
    border-radius: 15px;
  }
}