.deliveries{
  &__main{

    @include clearfix;
  }
  &__inner{
    margin: 0 auto;
    background-color: $white;
    width: 700px;
    &--title{
      padding: 32px;
      text-align: center;
      font-weight: bold;
    }
    &--form{
      border-top: 1px solid $lightgray;
      padding: 24px 16px 40px;
      &-content{
        margin: 0 auto;
        max-width: 343px;
        &-field{
          margin: 0 0 24px;
          label{
            font-size: 14px;
            font-weight: 600;
            display: inline-block;
          }
          &-required{
            @include required();
          }
          &-any{
            @include any();
          }
          .inputField{
            width: 100%;
            margin-top: 8px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background-color: $white;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;
          }
          select {
            @extend .inputField;
            height: 40px;
          }
        }
        .nextBtn {
          font-size: 14px;
          @include btn();
        }
      }
    }
  }
}