.login {
  width: 456px;
  margin: 0 auto;

  &__panel{
    background-color: $white;
    margin: 0 auto;
    height: 740px;
    align-items: center;
    &--no-content{
      border-bottom: 1px #eee solid;
      padding: 40px 64px;
      text-align: center;
      .blue{
        display: block;
        margin: 6px 0 0;
        border: 1px solid $accent;
        background: $accent;
        color: $white;
        line-height: 40px;
      }
    }

    &--form{
      display: block;
      text-align: center;
      padding: 35px 64px 35px 64px;
      &--btn-sns-facebook{
        position: relative;
        background: #385185;
        color: $white;
        line-height: 48px;
        a {
          color: white;
        }
      }
      &--btn-google{
        position: relative;
        margin: 16px 0 0;
        border: 1px $dark solid;
        line-height: 48px;
        background: #fff url("https://img.icons8.com/color/48/000000/google-logo.png") no-repeat 8px;
        background-size: 25px;
        a {
          color: #333
        }
      }
      i{
        position: absolute;
        top: 10px;
        left: 15px;
        line-height: 35px;
      }
    }
    &--form-inner{
      position: relative;
      display: block;
      text-align: center;
      padding: 0 64px;
      .login-input-mail, .login-input-pass{
        @include form;
      }
      .btn-login{
        display: block;
        background-color: $red;
        margin: 25px 0;
        border: 1px solid $red;
        color: $white;
        line-height: 48px;
        width: 100%;
      }
      .btn-pass-missing{
        position: absolute;
        left: 67px;
        color: $accent;
      }
    }
  }
}
