.login {
  background-color: $gray;
  width: 456px;
  height: 630px;
  margin: 0 auto;

  &__panel{
    background-color: $white;
    margin: 0 auto;
    align-items: center;
    height: 760px;
    &--no-content{
      border-bottom: 1px #eee solid;
      padding: 40px 64px;
      text-align: center;
      .blue{
        display: block;
        margin: 6px 0 0;
        border: 1px solid #0099e8;
        background: #0099e8;
        color: #fff;
        line-height: 40px;
      }
    }

    &--form{
      display: block;
      text-align: center;
      padding: 35px 64px 35px 64px;

      &--btn-sns-facebook{
        position: relative;
        background: #385185;
        color: $white;
        line-height: 50px;
      }
      &--btn-google{
        position: relative;
        margin: 16px 0 0;
        border: 1px #eee solid;
        line-height: 50px;
      }
      i{
        position: absolute;
        top: 10px;
        left: 15px;
        line-height: 35px;
      }
    }
    &--form-inner{
      position: relative;
      display: block;
      text-align: center;
      padding: 0 64px;

      @mixin form{
        display: block;
        width: 100%;
        line-height: 50px;
        border-radius: 4px;
        margin: 25px 0;
        border: 1px solid #ccc;
        font-size: 16px;
      }
      .login-input-mail, .login-input-pass{
        @include form;
      }
      .btn-login{
        display: block;
        background-color: #ea352d;
        margin: 25px 0 30px 0;
        border: 1px solid #ea352d;
        color: #fff;
        line-height: 50px;
      }
      .btn-pass-missing{
        position: absolute;
        left: 67px;
        color: #0099e8;
      }
    }
  }
}