
//色の定義

$red: #EA352d;
$white: #fff;
$accent: #0099E8;
$black: black;
$gray: rgb(245, 245, 245);
$dark: #999;
$darkgray: #ccc;
$focused: #b3d4fc;
$lightgray: #f5f5f5;
$lightblack: rgb(34, 34, 34);


//mixin

@mixin border($accent) {
  border: 1px solid $accent;
}

@mixin  border-gray {
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
}

@mixin  red-btn {
  background: #ea352d;
  border: 1px solid #ea352d;
}

@mixin focused {
  &:focus {
    outline: 0;
    border-color: $focused;
  }
}
@mixin form_default {
  width: 100%;
  font-weight: normal;
  margin-top: 8px;
  padding: 10px 16px 8px;
  border: solid 1px $darkgray;
  border-radius: 4px;
  background-color: white;
  line-height: 1.5;
  box-sizing: border-box;
  @include focused;
}


@mixin clearfix {
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}

@mixin underline {
  &:hover {
    text-decoration: underline;
  }
}

@mixin link-color {
  display: block;
  color: $accent;
}

//表情アイコン部分

@mixin  icon-good {
  display: inline-block;
  i {
    font-size: 16px;
    color: #ef5185;
  }
}

@mixin icon-bad {
    display: inline-block;
    margin: 8px 0 0 16px;
  i {
    font-size: 16px;
    color: #6ab5d8;
  }
}

@mixin icon-normal {
    display: inline-block;
    margin: 8px 0 0 16px;
  i {
    font-size: 16px;
    color: #fba933;
  }
}

//アイテムテーブルのcssの設定

@mixin item-table {
  table {
    width: 100%;
  }
  tr {
    border: 1px solid #f5f5f5;
  }
  th {
    padding: 8px;
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
  }
  td {
    padding: 10px;
    width: 61%;
  }
}


//画像の幅調整

@mixin image-box { 
  img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    vertical-align: bottom;
  }
}

//snsアイコン

@mixin sns-icon {
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
}

@mixin sns-icon-size {
  width: 44px;
  height: 44px;
  border-radius: 4px;
  line-height: 44px;
  font-size: 2.3em;
  color: #fff;
  &:hover {
    opacity: 0.7;
  }
}

//hover部分

@mixin text-hover {
  &:hover {
    opacity: 0.5;
    text-decoration: underline;
  }  
}

@mixin opacity {
  background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff 72%);
  bottom: 0;
  content: "";
  height: 50%;
  position: absolute;
  right: 0;
  width: 50%;
}
