
//色の定義

$red: #EA352d;
$white: #fff;
$accent: #0099E8;
$black: black;
$gray: rgb(245, 245, 245);
$dark: #999;
$darkgray: #ccc;
$focused: #b3d4fc;
$lightgray: #f5f5f5;
$lightblack: rgb(34, 34, 34);


textarea:focus {
  border: 1px solid $accent;
  outline: 0;
}
