.sell {
  background-color: $gray;
  
  &__header {
    width: 100%;
    width: 185px;
    height: 49px;
    margin: 0 auto;
    padding: 40px;
  }

  &__content {
    width: 700px;
    background-color: white;
    border-bottom: solid 1px $gray;
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    @include clearfix;
  }

  &__title {
    @extend .sell__content;
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    height: 100px;
    line-height: 22px;
  }

  &__image_label {
    font-size: 16px;
    font-weight: bold;
  }

  &__label {
    font-size: 14px;
    font-weight: bold;
    &--follow {
      @extend .sell__label;
      margin-top: 40px;
    }
    &--price {
      @extend .sell__label;
      float: left;
      line-height: 50px;
      margin-bottom: 24px;
    }
    &--charge {
      @extend .sell__label;
      font-weight: normal;
      float: left;
    }
    &--gain {
      font-size: 16px;
      font-weight: bold;
      float: left;
    }
  }

  &__required {
    display: inline;
    background-color: $red;
    color: white;
    font-size: 12px;
    border-radius: 2px;
    margin-left: 8px;
    padding: 2px 4px;
  }

  &__text {
    font-size: 14px;
    margin-top: 8px;
    font-weight: normal;
  }

  &__image_box {
    width: 116px;
    height: 160px;
    box-sizing: border-box;
    margin-top: 20px;
    margin-left: 10px;
    padding: 0;
    background-color: $gray;
    border: #eee 1px solid;
    float: left;
    margin-left: 10px;
    &:first-child, &:nth-child(6) {
      @extend .sell__image_box;
      margin-left: 0;
    }
  }
  &__image {
    text-align: center;
    line-height: 114px;
    vertical-align: middle;
    max-width: 114px;
    max-height: 114px;
    margin: auto
  }
  &__image_btn {
    width: 114px;
    height: 44px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    line-height: 44px;
    color: $accent;
    &--delete {
      @extend .sell__image_btn;
      border-left: #eee 1px solid;
    }
  }

  &__upload {
    &--drop_box {
      width: 620px;
      height: 160px;
      margin-top: 20px;
      padding: 10px;
      background-color: $gray;
      border: dashed 1px $darkgray;
      float: right;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      position: relative;
      form {
        display: none;
      }
      input {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        cursor: pointer;
      }
    }
    &--text {
      text-align: center;
      font-weight: normal;
      font-size: 14px;
      flex: 1;
    }
  }
  &__text_field {
    input {
      @include form_default;
      font-size: 16px;
      height: 48px;
    }
    &--price {
      @extend .sell__text_field;
      float: right;
      width: 160px;
      input {
        margin-top: 0;
        text-align: right;
      }
    }
  }
  &__text_area {
    textarea {
      @include form_default;
      font-size: 16px;
      min-height: 140px;
      resize: vertical;
    }
  }
  &__left_box {
    float: left;
    font-size: 14px;
    color: #888;
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__right_box {
    float: right;
    width: 400px;
    @include clearfix;
    &--follow {
      @extend .sell__right_box;
      border-top: solid 1px $darkgray;
      padding: 24px 0;
    }
  }
  &__select_form {
    position: relative;
    select {
      @include form_default;
      cursor: pointer;
      height: 48px;
      padding: 0 16px;
      -webkit-appearance: none;
      appearance: button;
      font-size: 16px;
      &::-ms-expand {
        display: none;
      }
    }
    .fa-chevron-down {
      position: absolute;
      right: 16px;
      top: 57%;
      z-index: 1;
      color: #777;
      font-size: 16px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      pointer-events: none;
    }

  }
  &__info {
    font-size: 12px;
    width: 14px;
    height: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    background-color: $accent;
    border-radius: 50%;
    a {
      color: white;
      font-weight: normal;
      text-decoration: none;
    }
  }
  &__charge {
    float: right;
    font-size: 14px;
    font-weight: normal;
  }
  &__gain {
    float: right;
    font-size: 34px;
  }
  &__attention {
    font-size: 14px;
    a {
      display: inline;
      color: $accent;
      text-decoration: none;
    }
  }
  &__yen_mark {
    float: right;
    font-size: 14px;
    line-height: 50px;
    margin-right: 8px;
  }
  &__button {
    height: 48px;
    line-height: 48px;
    font-size: 14px;
    color: white;
    text-align: center;
    cursor: pointer;
    &--submit {
      @extend .sell__button;
      width: 100%;
      background-color: $red;
      margin-top: 40px;
      border-style: none;
    }
    &--cansel {
      @extend .sell__button;
      width: 45%;
      background-color: #aaa;
      margin: 24px auto 0;
      a {color: white;}
    }
  }
  &__footer {
    width: 100%;
    height: 200px;
    text-align: center;
    &--link {
      width: 700px;
      @include clearfix;
      margin: 40px auto;
      a {
        color: #333;
        font-size: 12px;
        font-weight: normal;
        text-decoration: none;
        margin: 0 10px;
        display: inline-block;
      }
      }
    &--img {
      display: block;
      margin: 0 auto;
    }
    &--text {
      font-size: 13px;
    }
  }
  &__hidden {
    display: none;
  }
  &__number {
    display: none;
  }
}
