.category__categories
  .category__categories_header{id: "category_"+category.id.to_s, name: category.id}
    = category.name
  .category__categories_body
    .category__subcategory--link
      = link_to "すべて", category_path(category.id)
    = render partial: "subcategory", collection: category.children, as: :subcategory
