.sell
  .sell__header
    = link_to image_tag("fmarket_logo_red.svg"), root_path

  .sell__content--title
    商品の情報を入力
  .sell__content--label
    出品画像
    .sell__content--required
      必須
    .sell__content--text
      最大10枚までアップロードできます
    .sell__content--upload
      ドラッグアンドドロップ
      またはクリックしてファイルをアップロード
